parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    
    paths:
        - VPNProtect/src/AGTHARN/VPNProtect
        - libVPN/src/AGTHARN/libVPN